@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');
$font-family: 'ZCOOL XiaoWei';
$background-text-color: #ecf0f1;
$special-background: rgb(230, 78, 78);
$cart-background: linear-gradient( rgba(236, 240, 241, .6), rgba(0,175,240, .6) );
$box-shadow: .2em .2em .4em rgba(0, 0, 0, .6);
$border: .1em solid;
$disabled: #596275;